<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Search artist | Symfy</title>
        <link href="{{ asset('styles/app.css') }}" rel="stylesheet"/>
    </head>
    <body>
        {{ component('TopMenu') }}

        <div class="search-form">
            {{ form(searchForm) }}
        </div>

        <div class="container">
            {% for artist in artists %}
                <a class="item" href="{{ path("app_artist_details", {"id": artist.id}) }}">
                    <div class="overlay">
                        <div>
                            <h2>{{ artist.name }}</h2>
                        </div>
                    </div>
                    <img class="background" src="{{ artist.pictureLink }}" alt="image artist {{ artist.name }}">
                </a>
            {% endfor %}
        </div>
    </body>
</html>