<header>
    <nav class="navbar">
        <a class="nav-item {{ index == 0 ? "active" : ""  }}" href="{{ path('app_favorite_index') }}">Favorites</a>
        <a class="nav-item {{ index == 1 ? "active" : ""  }}" href="{{ path('app_track_index') }}">Search tracks</a>
        <a class="nav-item {{ index == 2 ? "active" : ""  }}" href="{{ path('app_artist_index') }}">Search artists</a>

        <div class="expanded"></div>
        {% if app.user %}
            <a class="nav-item red" href="{{ path('app_logout') }}">Logout</a>
        {% endif %}
    </nav>
</header>