<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Favorite | Symfy</title>
    <link href="{{ asset('styles/app.css') }}" rel="stylesheet"/>
</head>
<body>
{{ component('TopMenu') }}
<div class="container-card">
    <h2>Tracks</h2>
    <div class="container">
        {% for track in tracks %}
            <a class="item" href="{{ path("app_track_details", {"id": track.id}) }}">
                <div class="overlay">
                    <div>
                        <h2>{{ track.name }}</h2>
                        {% for artist in track.artists %}
                            <h3>{{ artist.name }}</h3>
                        {% endfor %}
                    </div>
                </div>
                <img class="background" src="{{ track.pictureLink }}" alt="image titre {{ track.name }}">
            </a>
        {% endfor %}
    </div>
</div>
<div class="container-card">
    <h2>Artistes</h2>
    <div class="container">
        {% for artist in artists %}
            <a class="item" href="{{ path("app_artist_details", {"id": artist.id}) }}">
                <div class="overlay">
                    <div>
                        <h2>{{ artist.name }}</h2>
                    </div>
                </div>
                <img class="background" src="{{ artist.pictureLink }}" alt="image titre {{ artist.name }}">
            </a>
        {% endfor %}
    </div>
</div>
</body>
</html>