<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Register | Symfy</title>
    <link href="{{ asset('styles/app.css') }}" rel="stylesheet"/>
</head>
<body class="centered">
<div class="container-card">
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, {'attr': {'class': 'login-form register-form'}}) }}
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}

    <p> If you already have an account, you can
        <a href="{{ path('app_login') }}">Login</a>
    </p>
</div>
</body>
</html>